@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url(./fonts/Roboto/Roboto-Regular.woff2) format("woff2"),
    url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "RobotoRegular";
  src: local("Roboto"), local("Roboto-Regular"),
    url(./fonts/Roboto/Roboto-Regular.woff2) format("woff2"),
    url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: "RobotoBold";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(./fonts/Roboto/Roboto-Bold.woff2) format("woff2"),
    url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-display: fallback;
}
