@import './font.scss';
html {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
}

body {
  background-image: url(./assets/background-slb-2021-rebrand.jpeg);
  background-position: top;
}
